.navbar-container {


   display: flex;
    flex-direction: row;
    width: 100%;
text-align: center;
align-items: center;
justify-content: center;
    gap: 50px;
      background-color: #002d6b;
      height: 70px;

  color: rgb(251, 249, 249);

  align-items: center;

  font-family: Arial, sans-serif;
}


/* 
.logo-text {
  border: 1px solid white; 
  padding: 5px;
} */




